body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

 /* Navbar */
nav{
    background-color:#17678e;
 }

 nav ul {
    list-style-type: none;
    display: flex;  
  }
    
  
 nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* languages list */
  .g {
    text-align: center;
  }

  .list{
    display: flex;
    justify-content: center;
    
  }

  .languages li{
    list-style-type:none;
  }

  .free{
    display: flex;
    background-color: #1592a6;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
  }
  
  .ls {
    display: flex;
    background-color: #1592a6;
    margin: 10px;
    border-radius: 5px;
    height: fit-content;

  }

  .sh {
    background-color: #1592a6;
    border-radius: 5px;
    height: fit-content;
    padding: 10px;
    margin: 10px;


  }
  .alist {
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .flist {
      padding-right: 10px;
  
  }


 /* Navbar */
 nav{
    background-color:#17678e;
 }

 nav ul {
    list-style-type: none;
    display: flex;  
  }
    
  
 nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* languages list */
  .g {
    text-align: center;
  }

  .list{
    display: flex;
    text-align: center;
  }

  .languages li{
    list-style-type:none;
  }

  /* Gamesboxes */
  .games {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    width: auto;
    justify-items: center;
    align-items: center;
  }

  .gbox{
    height: 30rem;
    width: 23em ;
  }
  .gametxt {
    display: flex;
  }

  #cascade{
    background-color: #2a4248;
  }

  .gbox h3{
    align-self: center;
  }

  .gbox li{
    list-style-type: none;
    border-radius:5px ;
    background-color: #bbb;
    margin: 5px;
    width: fit-content;
    padding: 5px;
    display: block;
    color: white;
    text-align: center;
  }
 
  
  .gbox p{
    margin-top: 10px;
  }
  

  .games img{
    height: 40%;
    width: 100%;
  }