body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

p {
    color: white;
}

 
 /* Navbar */
 nav{
    background-color:#17678e;
 }

 .navbar {
    height: 4rem;
    margin-top: 0;
    padding-top: 0;
      
 }

 #navlogo {
    width: 50%;
    height: 30%;
 }

 #logo {
    width: 20%;
    height: 30%;
    margin: 5px;
 }

 nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;  
  }
    
 nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  /* languages list */
  .g {
    text-align: center;
  }

  .list{
    display: flex;
    justify-content: center;
    
  }

  .languages li{
    list-style-type:none;
  }

  .free{
    display: flex;
    background-color: #1592a6;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
  }
  
  .ls {
    display: flex;
    background-color: #1592a6;
    margin: 10px;
    border-radius: 5px;
    height: fit-content;

  }

  .sh {
    background-color: #1592a6;
    border-radius: 5px;
    height: fit-content;
    padding: 10px;
    margin: 10px;

  }
  .alist {
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .flist {
      padding-right: 10px;
  
  }


 
  /* languages list */
  .g {
    text-align: center;
  }

  .list{
    display: flex;
    text-align: center;

  }

  .languages li{
    list-style-type:none;
  }

  .sh:hover {
    background-color: #17678e;
  }
  .ls:hover {
    background-color: #17678e;
  }

  .free :hover {
    background-color: #17678e;
  }

  /* Gamesboxes */
  .games {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    justify-items: center;
    align-items: center;
  }

  .gbox{
    height: 30rem;
    width: 23em ;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }
  .gbox:hover {
    transform: translateY(-5px);

  }
  .gametxt {
    display: flex;
    justify-content: center;
  }

  .gtxt h3 {
    color:white ;
  }
  .gtul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gbox li{
    list-style-type: none;
    border-radius:5px ;
    background-color: #bbb;
    margin: 2px;
    padding: 5px;
    color: white;
  }
 
  .games img{
    height: 40%;
    width: 100%;
    border-radius: 5px;
  }

  /* Updates */

  .updates {
    background-color: #17678e;
    height: 15em;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
  }

  #g{
    color: white;
    border-radius: 2px;
    width: 13rem;
    height: 3rem;

  }
  #inp{
    border-radius: 2px;
    width: 13rem;
    height: 3rem;
  }

  /* Login */
  .formcard {
    height: 30em;
    width: 30em;
    background-color:#ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

 .formc{
    background-color:#f5f7f9 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40em;
    width: auto;
    
 }

 .fm {
    width: 100%;
    height: 2.5em;
    border-radius: 3px;
    background-color:#e8f0fe ;
    border: 1px solid #ced4da;
    margin: 10px;
 }

 #check {
    margin: 10px;
 }

 #rem {
    margin: 10px;
 }

 #lost{
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
 }

 #logbutton{
    margin-top: 10px;
    width:100% ;
    height: 3em;
    background-color:#f3406a ;
    text-align: center;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
 }

 .dont{
    text-align: center;
 }

  


  /* Footer */

  .footr{
    height: fit-content;
    background-color: #112e51;
  }

  .foot {
    color: white;
  }

  .footlist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }

  .footul{
    list-style-type: none;
  }

  .footul i{
    padding: 1px;
    margin: 1px;
  }

  .footul li{
    color: white;
    padding: 10px;
  }

  .topic {
    color: white;
    ;
  }


/* Tablets and under */
@media (max-width:768px) {
  .gbox  {
        width: 14em;
        height: 20em;
    }

    .games{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    
    }

    .footlist{
        display: grid;
        grid-template-columns:1fr 1fr ;
        width: fit-content;
    }

    #navlogo img {
        width: 5em;
        height: 1.5em;
     }

     #nav{
        width: 10em;
     }

     #nav a{
        font-size: 0.7em ;

     }
     .list{
        display: grid;
     }

}
/* Mobile */
@media (max-width:500px) {
    .gbox  {
        width: 14em;
        height: 20em;
    }

    .games{
        display: grid;
        grid-template-columns: 1fr ;
        justify-items: center;
        align-items: center;
    
    }

    .footlist{
        display: grid;
        grid-template-columns:1fr  ;
        width: fit-content;
    }

    #navlogo img {
        width: 5em;
        height: 1.5em;
     }

     #nav{
        width: 10em;
     }

     #nav a{
        font-size: 0.7em ;

     }
     .list{
        display: grid;
     }
  
}

